    <!--                  HERO_SECTION                 -->
    <section class="about bg-white py-20 px-5">
        <div class="container inline mx-auto md:flex  items-center justify-between px-5">
            <div class="w-full md:w-1/2 flex items-center">
                <img class="mx-auto" src="/img/about.png" alt="about">
            </div>
            
            <div class="about-info w-full md:w-1/2 px-5  pt-20">
                <div class="w-full">
                    <h1 class="about-h1 text-5xl font-bold mb-10">About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eius provident sapiente nam impedit fugiat. Possimus ut doloribus aspernatur dignissimos ea laudantium obcaecati ducimus minima eveniet alias. Dolorum, accusantium eaque?
                    Placeat explicabo doloribus accusamus veniam.</p>
                    <br>
                    <p>Praesentium sunt dolores, ipsum facilis fugit, totam facere veritatis minima iusto in vitae magni non possimus recusandae rem, numquam vero libero repellendus omnis?
                    Ratione, quidem error repudiandae recusandae odio cum dolorum sint laborum vitae delectus, reprehenderit laudantium velit, sapiente itaque dolorem accusantium excepturi eius tempora! Dolores.</p>
                </div>
                <div class="social-links w-full mt-10">
                    <ul class="flex items-center justify-between">
                        <li><a class="inline block" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="inline block" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="inline block" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="inline block" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>