<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Hut</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <!--                  NAV_BAR                 -->
    <nav class="nav-bar fixed">
        <div class="container mx-auto flex py-3 items-center justify-between">
            <div>
                <a href="/"><img class="logo" src="img/logo.png" alt="logo"></a>
            </div>
            <div>
                <ul class="menu flex items-center">
                    <li class="mx-2"><a href="/">Home</a></li>
                    <li class="mx-2"><a href="/menu">Menu</a></li>
                    <li class="mx-2"><a href="/about">About</a></li>
                    <li class="mx-2"><a href="/contact">Contact</a></li>
                    <li class="mx-2"><a href="/login">Log in</a></li>
                    <li class="mx-2"><a href="/registration">Create Acount</a></li>
                    <li class="mx-2"><a class="font-bold order-btn block cart-btn px-10 py-1 rounded-full" href="/cart"><i class="fab fa-opencart"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <%- body %>

    <footer class="py-5">
        <div class="mx-auto container text-center">
            <p>©2021 <a class="fotter-link" href="https://www.github.com/devnazmul">Developer Nazmul</a>. All rights reserved.</p>
        </div>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>