@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.primary-h {
  color: #c80f2e;
}

.primary-btn {
  color: #fff;
  background-color: #c80f2e;
  transition: 0.3s all ease-in-out;
  border: 2px solid #c80f2e;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #fff;
  color: #c80f2e;
  border: 2px solid #c80f2e;
}

.secondary-btn {
  border: 2px solid #c80f2e;
  color: #c80f2e;
  transition: 0.3s all ease-in-out;
  outline: none;
}
.secondary-btn:hover {
  background-color: #c80f2e;
  border: 2px solid #c80f2e;
  color: #f1f1f1;
}

.nav-bar {
  background-color: #fff;
  width: 100%;
  color: #f1f1f1;
  z-index: 100000000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 30px;
  width: auto;
}

.menu li a {
  color: #363636;
  transition: 0.3s all ease-in-out;
}
.menu li a:hover {
  color: #c80f2e;
}

.menu li:last-child a {
  color: #ffffff;
}
.menu li:last-child a:hover {
  color: #c80f2e;
}

.hero {
  width: 100%;
  background: #f1f1f1;
}

.menu {
  background-color: #fff;
}

.card {
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}

.order-btn {
  color: #f1f1f1;
}

.pizza-size {
  background-color: #f1f1f1;
  color: #363636;
}

.cart {
  height: calc(100vh-86px);
}

.contact {
  background-color: #fff;
  flex-direction: column;
}

.contact-h1, .about-h1 {
  color: #c80f2e;
}

.social-links ul li {
  border-radius: 30px;
  padding: 5px 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  border: 2px solid #c80f2e;
  color: #c80f2e;
}
.social-links ul li:hover {
  background-color: #c80f2e;
  border: 2px solid #c80f2e;
  color: #fff;
}

.cart-h1 {
  color: #c80f2e;
}

.total-price {
  color: #c80f2e;
}

.adress-input {
  height: 50px;
}

footer {
  background-color: #f1f1f1;
}

footer p {
  color: #000;
}

.fotter-link {
  color: #c80f2e;
}
.fotter-link:hover {
  color: #970b22;
}
