@import'_variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

*{ 
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
   
}
body{
    background-color: $light;
}
.primary-h{
    color: $prymari;
}
.primary-btn{
    color: #fff;
    background-color: $prymari;
    transition: $transition-slow;
    border: 2px solid $prymari;
    cursor: pointer;
    text-align: center;

    &:hover{
        background-color: #fff;
        color: $prymari;
        border: 2px solid $prymari;

    }
}
.secondary-btn{

    border: 2px solid $prymari;
    color: $prymari;
    transition: $transition-slow;
    outline: none;

    &:hover{
        background-color: $prymari;
        border: 2px solid $prymari;
        color: $light;
    }
}

#quantityCounter{
    font-size: .90rem;
    font-weight: bold;
    top: -7px;
    right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(0, 201, 27);
    height: 25px;
    width: 25px;
    text-align: center;
    border: 3px solid #fff;
    z-index: 10000000000;
}

.nav-bar{
    background-color: #fff;
    width: 100%;
    color: $light;
    z-index: 1000000;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.logo{
    height: 30px;
    width: auto;
}
.menu li a{
    color: $dark;
    transition:$transition-slow;
    &:hover{
        color: $prymari;
    }
}
.menu li:last-child a{
    color: #ffffff;
    &:hover{
        color: $prymari;
    }
}
.hero{
    width: 100%;
    background: $light;
}

.menu{
    background-color: #fff;
}
.card{
    
    background-color: #fff;
    transition: $transition-slow;
    
    &:hover{
        transform: scale(1.01);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
}
.order-btn{
    color: $light;
}
.pizza-size{
    background-color: $light;
    color: $dark;
}
.cart{
    height: calc(100vh-86px);
}
.contact{
    background-color: #fff;
    flex-direction: column;
}

.contact-h1{
    color: #fff;
}
.about-h1{
    color: $prymari;
}
#Contact{
    background-color: $prymari;
}
.map{
    height: 1080px;
}
.social-links ul li{
    border-radius: 30px;
    padding: 5px 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2rem;
    background-color: #fff;
    transition: $transition-slow;
    border: 2px solid $prymari;
    color: $prymari;
    &:hover{
    background-color: $prymari;
    border: 2px solid $prymari;
    color: #fff;
    }
}

.cart-h1{
    color: $prymari;
}
.total-price{
    color: $prymari;
}
.adress-input{
    height: 50px;
}







footer{
    background-color: $light;
}
footer p{
    color: #000;
}
.fotter-link{
    color: $prymari;
    &:hover{
        color: $prymari-hover;
    }
}







.noty_theme__mint.noty_type__success {
    background-color: #53ff2e!important;
    border-bottom: 1px solid #aade00!important;
    color: #000!important;
    font-weight: bold!important;
    box-shadow: 0px 0px 8px 2px #485c43!important;
    font-size: 0.2rem!important;
}
.noty_body{
    padding: 10px 10px!important;
    font-size: .7rem!important;
}
.noty_theme__mint.noty_bar {
    margin: 5px 0!important;
    overflow: hidden!important;
    border-radius: 52px!important;
    position: relative!important;
}